@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.todo-app__container {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.todo-app__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
